<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit Comment: </h1>

        <div style="width: 30%; margin: 20px auto">
            <form action="/campgrounds/<%= camp_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <input class="form-control" type="text" value="<%= comment.text %>" name="comment[text]">
                <button class="btn btn-default btn-block">Send!</button>
            </form>
            <a href="/campgrounds/<%= camp_id %>">Back</a>

        </div>

    </div>
</div>

<% include ../partials/footer %>
