<% include partials/header %>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to <%= title %></h1>
                <p>Gallery of nice campgrounds</p>
                <p>
                    <a class="btn btn-lg" href="/campgrounds/new">Add new campground</a>
                </p>
            </div>
        </header>

        <div class="row" style="display: flex; flex-wrap: wrap;">
            <% camps.forEach(function (camp) { %>
                <div class="col-md-3 col-sm-6">

                    <div class="thumbnail">
                        <img src="<%= camp.image %>">
                        <h4 class="caption"><%= camp.name %></h4>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

<% include partials/footer %>