<% include ../partials/header %>

    <header class="jumbotron jumbotron-fluid camp-home">
        <div class="container">
            <h1>Welcome to <%= title %></h1>
            <p>Gallery of nice campgrounds</p>
            <p>
                <a class="btn btn-lg" href="/campgrounds/new">Add new campground</a>
            </p>
        </div>
    </header>

    <div class="container">

        <div class="row" style="display: flex; flex-wrap: wrap;">
            <% camps.forEach(function (camp) { %>
                <div class="col-md-3 col-sm-6">

                    <div class="thumbnail">
                        <img src="<%= camp.image %>">
                        <h4 class="caption"><%= camp.name %></h4>
                        <a class="btn btn-default" href="/campgrounds/<%= camp._id %>">More info</a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

<% include ../partials/footer %>