<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Create New Campground</h1>

            <div style="width: 30%; margin: 20px auto">
                <form action="/campgrounds" method="POST">
                    <input class="form-control" type="text" placeholder="name" name="campname">
                    <input class="form-control" type="text" placeholder="imgurl" name="campimg">
                    <textarea class="form-control" placeholder="Descripcion del Lugar" cols="30" rows="10" name="desc"></textarea>
                    <button class="btn btn-default btn-block">Send!</button>
                </form>
                <a href="/campgrounds">Back</a>

            </div>

        </div>
    </div>

<% include ../partials/footer %>
