.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.navbar-default {
    background-color: #78909c;
    border-color: #cfd8dc;
    margin-bottom: 0;
}
.navbar-default .navbar-brand {
    color: #eceff1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #263238;
}
.navbar-default .navbar-text {
    color: #eceff1;
}
.navbar-default .navbar-nav > li > a {
    color: #eceff1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #263238;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #263238;
    background-color: #cfd8dc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #263238;
    background-color: #cfd8dc;
}
.navbar-default .navbar-toggle {
    border-color: #cfd8dc;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #cfd8dc;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #eceff1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #eceff1;
}
.navbar-default .navbar-link {
    color: #eceff1;
}
.navbar-default .navbar-link:hover {
    color: #263238;
}

.btn-success{
    background-color: #78909c;
    border-color: #263238;
}

.btn-success:hover{
    background-color: #263238;
    border-color: #78909c;
    color: #eceff1;
}

.camp-home{
    background-color: #cfd8dc;
    height: 300px;
}

.inline{
    display: inline;
}
