<% include ../partials/header %>

<div class="container">
  <div class="row">
    <h1 style="text-align: center">Log In To Your Account</h1>

    <div style="width: 30%; margin: 20px auto">
      <form action="/users/login" method="POST">
        <input class="form-control" type="text" placeholder="username" name="username">
        <input class="form-control" type="password" placeholder="password" name="password">
        <button class="btn btn-default btn-block">Log in</button>
      </form>
      <a href="/campgrounds">Back</a>

    </div>

  </div>
</div>

<% include ../partials/footer %>
